body {
  background-color: #ecc0a8;
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

.container {
  height: 200px;
  width: 100%;
  position: relative;
}

#lottie {
  background-color: #ecc0a8;
  width: 25%;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
